@use './root'
	
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic)
@import url(https://fonts.googleapis.com/css?family=Inconsolata:200,300,regular,500,600,700,800,900)

*
	padding: 0
	margin: 0
	border: none
	box-sizing: border-box
	font-family: Montserrat

#__next
	display: flex
	flex-direction: column
	min-height: 100vh
	background-color: root.$colorDark

a
	text-decoration: none
	color: inherit
	line-height: 1.2

p
	font-size: 18px
	word-spacing: 0.2em

h1
	font-size: 48px
	font-weight: 700

h2
	font-size: 30px
	font-weight: 400
	word-spacing: 0.2em

span
	font-weight: 700

span > a
	transition: color 0.3s ease

span > a:hover
	color: root.$colorBrightest

button
	background: none
	color: inherit
	font-size: inherit
	cursor: pointer

code
	font-family: Inconsolata